[submodule "zapret-flowseal"]
	path = zapret-flowseal
	url = https://github.com/Flowseal/zapret-discord-youtube
[submodule "zapret-wnkbll"]
	path = zapret-wnkbll
	url = https://github.com/wnkbll/zapret-wnkbll
