[submodule "zapret-flowseal"]
	path = zapret-flowseal
	url = https://github.com/Flowseal/zapret-discord-youtube
[submodule "zapret-bolvan"]
	path = zapret-win-bundle
	url = https://github.com/bol-van/zapret-win-bundle
